（1）	电流源支持0-20mA，0-2mA，0-200uA三个档，输出电流精度0.1%（20mA档为20uA，2mA档为2uA，200uA档为0.2uA）；配备输入预设和显示功能，预设和显示精度1％（20mA档为0.2mA，2mA档为20uA，200uA档为2uA）
（2）	电流源输出的电压范围: 0-15V
（3）	使程控电流源实现电阻测量功能，电阻测量范围1欧－10M欧，电阻测量精度0.1%；测量时电流源输出档位自动切换；
（4）	降低系统的待机功耗，并提高工作时的电源效率（电流源输出功率/输入功率），在电路板上需预留输入输出电流测试端口，用于功耗测量；
（5）	电流源应带有过压、断路状态报警及保护功能。
（6）	电流源在外部加热的条件下，依然保持相当的精度。

发挥部分：
（7）	整机使用两节5号1.5V干电池串联输入，自行设计所需的电源电路。
（8）	采用TI无线模块，例如CC256x，CC254x蓝牙模块，使用手机或其他手持设备与电流源通信，完成预设和显示功能；
三、评分标准
设计
报告	项  目	分数
	系统结构、实现方案	10
	电路设计与原理图	
	测试数据	
	图文规范	
作品
要求	完成第（1）、（2）项，基本功能及精度	35
	完成第（3）项，电阻测量	25
	完成第（4）项，功耗	5
	完成第（5）项，报警及保护	5
	完成第（6）项，温度性能	5
	完成第（7）项，自行设计电源电路	5
	完成第（8）项，无线互联	10
       总分	100
四、说明
（1）	报告中的测试数据应包括：
A.	电流源精度测试。
B.	电阻测试数据。在实验板上预留连接电阻端口，可任意更换被测电阻。
C.	功耗。在系统正常记录工作时，在系统的供电端预留电流测试接口接入电流表测量，并记录电流值。(不包括无线传输部分功耗)
（2）	宽温
A.	宽温性能要求在温度升高（不超过70度）过程中，电流源输出变化越小越好，记录电流源加热前后大致的最大温度差和此时电流源的输出变化；
B.	参赛队自行测试过程中，可通过吹风机对电路板进行加热，从而测试电流源宽温特性；
C.	决赛过程中，将使用统一吹风机(850w)，距离电路板约10cm左右，对参赛队所设计电路进行加热，测试恒流源精度。
